WEBSERVICE_URL=http://localhost:3000
PORT=3000
NODE_ENV=development

POSTGRES_URL=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PASSWORD=

DATABASE_URL=

JWT_SEED=

MAILER_SERVICE=gmail
MAILER_EMAIL=
MAILER_SECRET_KEY=

GEMINI_API_KEY=

CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=